{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="sz-carousel_default-mode" id="sz-carousel_default-mode_{settings.contentObjectUid}">
  <f:for each="{slides}" as="slide">
    <div class="sz-carousel__image sz-carousel__slide">
      <v:link.typolink configuration="{parameter : slide.link}">
        <f:image src="{slide.image.originalResource.originalFile.uid}" title="{slide.image.originalResource.title}" alt="{slide.image.originalResource.description}" />
      </v:link.typolink>
      <div class="card-block sz-card-block_nopadding">
        <h3 class="card-title"><f:format.raw>{slide.title}</f:format.raw></h3>
        <f:format.html>{slide.abstract}</f:format.html>
      </div>
    </div>
  </f:for>
</div>
